/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /*Acá está el CSS Reset */

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url(img/moncho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 30px;
    color: rgb(214, 67, 67);
    text-decoration: underline;
    font-weight: 600;
    margin: 20px auto;
}

h2 {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
    padding-bottom: 5px;
}

ul {
    list-style-type: lower-greek;
    list-style-position: inside;
    text-align: left;
}

.caja {
    border-width: 5px;
    border-style: double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: royalblue;
    background-color: rgba(146, 47, 183, 0.4);
}

.centrada {
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;
}

.caja:hover {
    background-color: rgba(98, 31, 165, 0.8);
}

.fila {
    margin: ;
    float: left;
    overflow: hidden;
}