* {
    box-sizing: border-box;
}

body {
    background-color: dimgray;

}
div {
    overflow: hidden;
    text-align: 
}

h1 {
    color: brown;
    text-align: center;
}

.caja {
    text-align: center;
    height: 200%;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black, -5px -5px 10px red;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: darkgreen;
    font-size: 20px;
}

.texto {
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
    font-family: monospace;
    
}

.pie {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aqua;
    height: 5%;
    
}

.texto_pie {
    float: left;
}

.izq {
    width: 33%;
    color: fuchsia;
}

.mid {
    width: 33%;
    text-decoration: underline;
}

.der {
    width: 33%;
}